<html>
{{> head}}
<body>
	<p></p>
	<div class="ui segment">
		<div class="row">
		    <h1 class="ui header aligned center">Dice Notation</h1>
		    <p style="text-align: center">Please run <b>npm test</b> in order to check the functionality.</p>
			<p style="text-align: center">Lucas Franco</p>
		</div>
	</div>
</body>
</html>
